@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Shizuru&family=Syne+Tactile&display=swap');
/* INICIO STYLE CARD FRENTE */

body{

}

*{
    margin: 0 auto;
    color: rgb(235, 235, 235);
    box-sizing: border-box;

}

.container{
    width: 100%;
    height: 100vh;
    perspective: 1000;

}

#flip{
    transition: all 1s;
    transform-style: preserve-3d;

}

.flip{
    transform: rotateY(180deg);

}

.front {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
    position: absolute;
    backface-visibility: hidden;
    background-image: url(https://i.ibb.co/Zf78ZCw/Lousa-Escola-PNG-1280x720.png);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;

}

#text {
    width: 70%;
    text-align: center;
    font-size: 3rem;
    margin: 0 10%;
    margin-top: 60px;
    text-shadow: 0px 0px 12px whitesmoke;
    font-family: 'Shizuru', cursive;
}

#canvas_front{
    max-width: 200px;
    min-width: 200px;
    margin: 0; 

}

/* ESCOLHA UMA CATEGORIA */
.msg_escolha{
    width: 100%;
    text-align: center;
    margin: 2% 0;
    font-size: 1.4rem;
    font-family: 'Syne Tactile', cursive;
}

/* OPCOES DE ESCOLHA PARA CATEGORIA */
.opcoes{
    width: 40%;
    margin:0 30%;
    min-width:220px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    border:transparent;
    border-radius: 10px;

}

/* INPUT */
#nova_palavra{
    font-size: 16px;
    height: 5vh;
    resize: none;
    margin: 2% 20%;
    outline-color: rgba(121, 117, 117, 0.733);
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid whitesmoke;

}
#nova_palavra::placeholder{
    text-align: center;
    color: whitesmoke;
}


/* BOTÃO PARA INICIAR O JOGO */
.btn_jogar{
    width: 60px;
    height: 4vh;
    margin: 0 18%;
    margin-bottom: 10px;
    color: whitesmoke;
    background-color: transparent;
    border-radius: 10px;
    border:transparent;
    font-size: 1.4rem;
    font-family: 'Syne Tactile', cursive;


}

/* BOTAO JOGAR E BOTAO ADICIONAR PALAVRA */
#btn_front{
    width: 180px;

}

#btn_front:hover{
    width: 186px;
    text-shadow: 0px 0px 10px whitesmoke;

}
/* 
.btn_header{
    width: 60px;
    height: 4vh;
    margin: 0 18%;
    margin-bottom: 10%;
    color: whitesmoke;
    background-color: transparent;
    border-radius: 10px;
    border:transparent;

} */

/* INICIO DO ESTILO CARD BACK */

.game {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url(https://i.ibb.co/Zf78ZCw/Lousa-Escola-PNG-1280x720.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: bottom;

    position: absolute;
    backface-visibility: hidden;

}

/* LETRA ERRADAS DIGITADAS */
.letras {
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    margin-top: 2%;
    font-weight: bold;
    text-shadow: 0px 0px 14px whitesmoke;
        font-family: 'Syne Tactile', cursive;

    
}

.Msg_Letra_digitadas{
    width: 80%;
    text-align: center;
    font-weight: bold;
    margin: 1% 0;
    font-size: 1.2rem;
    color: rgba(230, 230, 230, 0.973);
    text-shadow: 0px 0px 14px rgba(253, 160, 245, 0.788);

}

/* CHACES */
.mostra_Chances{
    width: 100%;
    margin: 0;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    font-family: 'Syne Tactile', cursive;
    text-shadow: 0px 0px 14px rgba(253, 160, 245, 0.788);
    color: rgba(230, 230, 230, 0.973);

}

/* CANVAS BACK */
.canvas{
    width: 40%;
    height: 40vh;
    min-width: 300px;

}

/* EXIBE A MENSAGEM */
.msg{
    width: 50%;
    margin: 0 10%;
    /* font-weight: bold; */
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Shizuru', cursive;
}

/* EXIBE A PALAVRA SECRETA */
.palavra_secreta{
    width: 50%;
    margin:0 20%;
    margin-left:24%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: 'Syne Tactile', cursive;


}

/* LETRA SECRETA */
.Letra_secreta{
    width: 20px;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid rgb(245, 238, 238);
    margin: 0 4px;

}
.input{
    margin: 0;
    margin-left: 4%;
    width: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* INPUT PARA RECEBER AS LETRAS */
#letra_Digitada{
    margin: 0 10%;
    margin-top: 6%;
    margin-bottom: 6%;
    height: 4vh;
    border-radius: 6px;
    font-size: 1.2rem;
    font-weight: 100;
    color: rgb(255, 255, 255);
    background-color: transparent;
    outline: transparent;
    border: 1px solid whitesmoke;

}

#letra_Digitada::placeholder{
    color: whitesmoke;
    text-align: center;
    font-weight: 100;
    font-size: 1rem;


}

/* BOTÃO DO GAME VOLTAR PARA HOME */
.btn_game{
    margin: 0 10%;
    padding: 0;
    margin-bottom:20%;
    color: whitesmoke;
    background-color: transparent;
    border-radius: 10px;
    border:transparent;
    font-size: 1.4rem;
    font-family: 'Syne Tactile', cursive;


}

.btn_game:hover, .btn_header:hover{
font-size: 1.5rem;
    text-shadow: 0px 0px 10px whitesmoke;

}

.home{
    margin: 0 10% 20% 10%;
}

.erro_Caractere{
    margin: 0;
    color: red;
    font-size: 14px;

}



footer.attribution {
    font-size: 11px;
    margin:0 20% 4% 20%;
    color: rgba(253, 251, 251, 0.822);
    text-align: center;
}

footer.attribution a {
    color: rgb(24, 22, 129);
    text-decoration: none;
}


@media screen and (max-width:320px){

    #text{
            font-size: 2.6rem;

    }

    .input{
        width: 100%;
        flex-direction: row;

    }

    .letras{
        margin-top: 40px;
        color: black;

    }
}

